body {
    background-image: url("images/sunset.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: Arial, sans-serif;

    margin: 0;

}

h1 {
    color: white;
    font-size: 60px;

    background-color: rgba(0, 0, 0, 0.5);

    padding: 20px;
    border-radius: 10px;
}

p {
    color: white;
    font-size: 28px;

    background-color: rgba(0, 0, 0, 0.4);

    padding: 10px 20px;
    border-radius: 8px;
}
.navbar {
    width: 100%;

    position: fixed;
    top: 0;

    background-color: rgba(0, 0, 0, 0.5);

    padding: 20px 0;
}
.navbar {
    width: 80%;

    position: fixed;
    top: 0;

    background-color: rgba(0, 0, 0, 0.5);

    padding: 20px 0;
}
.nav-links {
    display: flex;

    justify-content: right;

    gap: 60px;

    list-style: none;

    margin: 0;
    padding: 0;
}
.nav-links a {
    text-decoration: none;

    color: white;

    font-size: 18px;

    transition: 0.3s;
}
.nav-links a:hover {
    color: orange;
}