*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url("images/unsplash.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 

    height: 70vh;


    text-align: center;
    font-family: Arial, sans-serif;

    margin: 0;
}


.hero p {
    color: white;
    font-size: 35px;

    background-color: rgba(0, 0, 0, 0.4);

    padding: 10px 20px;
    border-radius: 8px;
    padding-top: 80px;
    .hero{
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Logo */
.logo{
    color: white;
    font-size: 32px;
}
.nav-links {
    display: flex;

    justify-content: right;

    gap: 60px;

    list-style: none;

    margin: 0;
    
}
.nav-links a {
    text-decoration: none;

    color: white;

    font-size: 18px;

    transition: 0.3s;
}
.nav-links a:hover {
    color: orange;
}
.about {

    width: 80%;

    padding: 0;

    text-align: center;
}
.about h2 {
    font-size: 70px;

    margin-bottom: 20px;

    color: rgba(217, 168, 7, 0.838);
}
.about p {
    font-size: 20px;

    max-width: 800px;

    margin: auto;

    line-height: 1.6;

    color: blanchedalmond;
}
.check-btn {
    background-color: burlywood;

    color: white;

    font-size: 18px;

    padding: 12px 25px;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}
.check-btn:hover {
    background-color: darkorange;

    transform: translateY(-3px) scale(1.05);

    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.booking-section{
    padding: 50px;
    text-align: center;
    background-color: #eae4e4;
}

#bookingForm{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

#bookingForm input,
#bookingForm select{
    padding: 12px;
    width: 200px;
}

#bookingForm button{
    padding: 12px 20px;
    background-color: black;
    color: #e4ded8;
    border: none;
    cursor: pointer;
}
.hero h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 24px;
}