body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url("images/unsplash.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 

    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: Arial, sans-serif;

    margin: 0;
}
.hero h1 {
    color: white;
    font-size: 60px;

    background-color: rgba(0, 0, 0, 0.5);

    padding: 20px;
    border-radius: 10px;
}

.hero p {
    color: white;
    font-size: 28px;

    background-color: rgba(0, 0, 0, 0.4);

    padding: 10px 20px;
    border-radius: 8px;
}
.navbar {
    width: 100%;

    position: fixed;
    top: 0;

    background-color: rgba(0, 0, 0, 0.5);

    padding: 20px 0;
}
.navbar {
    width: 80%;

    position: fixed;
    top: 0;

    background-color: rgba(0, 0, 0, 0.5);

    padding: 20px 0;
}
.nav-links {
    display: flex;

    justify-content: right;

    gap: 60px;

    list-style: none;

    margin: 0;
    padding: 0;
}
.nav-links a {
    text-decoration: none;

    color: white;

    font-size: 18px;

    transition: 0.3s;
}
.nav-links a:hover {
    color: orange;
}
.about {

    width: 80%;

    padding: 0;

    text-align: center;
}
.about h2 {
    font-size: 70px;

    margin-bottom: 20px;

    color: rgba(217, 168, 7, 0.838);
}
.about p {
    font-size: 20px;

    max-width: 800px;

    margin: auto;

    line-height: 1.6;

    color: blanchedalmond;
}
.check-btn {
    background-color: burlywood;

    color: white;

    font-size: 18px;

    padding: 12px 25px;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}
.check-btn:hover {
    background-color: darkorange;

    transform: translateY(-3px) scale(1.05);

    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}